@page
@model EvoltingStore.Pages.BlogModel
@using EvoltingStore.Entity
@using Newtonsoft.Json;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Blog";
    var blogs = Model.Blogs;
}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/Index">
                        <img src="img/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/Index">Homepage</a></li>
                            <li><a href="/Categories">Browse</a></li>
                            <li class="active"><a href="/Blog">Our Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                            @if (HttpContext.Session.GetString("user") != null)
                            {
                                <li><a href="#">My Favourite</a></li>
                                <li><a href="/OrderHistory">My Orders</a></li>
                                <li><a href="/Cart">Cart</a></li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                    <a href="#" class="search-switch"><span class="icon_search"></span></a>
                    @if (HttpContext.Session.GetString("user") != null)
                    {
                        <a href="/Profile"><span class="icon_profile"></span></a>
                    }
                    else
                    {
                        <a href="/Login">Login Now</a>
                    }
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="text-center mb-4">
        @if (HttpContext.Session.GetString("user") != null)
        {
            // Check if user is admin
            var user = JsonConvert.DeserializeObject<User>(HttpContext.Session.GetString("user"));
            if (user.RoleId == 1)
            {
                <a href="/Management/CreateBlog" class="btn btn-primary">Create Blog</a>
            }
        }
    </div>
    <div class="container">
        <div class="row">
            @foreach (var blog in blogs)
            {
                <div class="col-lg-6 col-md-12">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="~/uploads/54693.jpg">
                        </div>
                        <div class="blog__item__text">
                            <h5><a href="@Url.Page("/BlogDetail", new { id = blog.Id })">@blog.Title</a></h5>
                            <p>@Html.Raw(blog.Content.Length > 20 ? blog.Content.Substring(0, 20) + "..." : blog.Content)</p>
                            <p><strong>Genre:</strong> @blog.Genre.GenreName</p> <!-- Displaying the genre -->
                            <p>@blog.CreateDate?.ToString("MMMM dd, yyyy")</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- Paging controls -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                    <a class="page-link" href="?pageIndex=@(Model.PageIndex - 1)" tabindex="-1">Previous</a>
                </li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                        <a class="page-link" href="?pageIndex=@i">@i</a>
                    </li>
                }
                <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link" href="?pageIndex=@(Model.PageIndex + 1)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<!-- Blog Section End -->
<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="./index.html"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li><a href="/Index">Homepage</a></li>
                        <li><a href="/Categories">Browse</a></li>
                        <li><a href="#">Our Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->
